@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="im-"], [class*=" im-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  display: inline-block;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/* Fixed Width - Add .im-fw to any icon class */
.im-fw {
  width: 1.2857142857142858em;
  text-align: center;
}
.im-home:before {
	content: "\e600";
}
.im-home2:before {
	content: "\e601";
}
.im-home3:before {
	content: "\e602";
}
.im-office:before {
	content: "\e603";
}
.im-newspaper:before {
	content: "\e604";
}
.im-pencil:before {
	content: "\e605";
}
.im-pencil2:before {
	content: "\e606";
}
.im-quill:before {
	content: "\e607";
}
.im-pen:before {
	content: "\e608";
}
.im-blog:before {
	content: "\e609";
}
.im-droplet:before {
	content: "\e60a";
}
.im-paint-format:before {
	content: "\e60b";
}
.im-image:before {
	content: "\e60c";
}
.im-image2:before {
	content: "\e60d";
}
.im-images:before {
	content: "\e60e";
}
.im-camera:before {
	content: "\e60f";
}
.im-music:before {
	content: "\e610";
}
.im-headphones:before {
	content: "\e611";
}
.im-play:before {
	content: "\e612";
}
.im-film:before {
	content: "\e613";
}
.im-camera2:before {
	content: "\e614";
}
.im-dice:before {
	content: "\e615";
}
.im-pacman:before {
	content: "\e616";
}
.im-spades:before {
	content: "\e617";
}
.im-clubs:before {
	content: "\e618";
}
.im-diamonds:before {
	content: "\e619";
}
.im-pawn:before {
	content: "\e61a";
}
.im-bullhorn:before {
	content: "\e61b";
}
.im-connection:before {
	content: "\e61c";
}
.im-podcast:before {
	content: "\e61d";
}
.im-feed:before {
	content: "\e61e";
}
.im-book:before {
	content: "\e61f";
}
.im-books:before {
	content: "\e620";
}
.im-library:before {
	content: "\e621";
}
.im-file:before {
	content: "\e622";
}
.im-profile:before {
	content: "\e623";
}
.im-file2:before {
	content: "\e624";
}
.im-file3:before {
	content: "\e625";
}
.im-file4:before {
	content: "\e626";
}
.im-copy:before {
	content: "\e627";
}
.im-copy2:before {
	content: "\e628";
}
.im-copy3:before {
	content: "\e629";
}
.im-paste:before {
	content: "\e62a";
}
.im-paste2:before {
	content: "\e62b";
}
.im-paste3:before {
	content: "\e62c";
}
.im-stack:before {
	content: "\e62d";
}
.im-folder:before {
	content: "\e62e";
}
.im-folder-open:before {
	content: "\e62f";
}
.im-tag:before {
	content: "\e630";
}
.im-tags:before {
	content: "\e631";
}
.im-barcode:before {
	content: "\e632";
}
.im-qrcode:before {
	content: "\e633";
}
.im-ticket:before {
	content: "\e634";
}
.im-cart:before {
	content: "\e635";
}
.im-cart2:before {
	content: "\e636";
}
.im-cart3:before {
	content: "\e637";
}
.im-coin:before {
	content: "\e638";
}
.im-credit:before {
	content: "\e639";
}
.im-calculate:before {
	content: "\e63a";
}
.im-support:before {
	content: "\e63b";
}
.im-phone:before {
	content: "\e63c";
}
.im-phone-hang-up:before {
	content: "\e63d";
}
.im-address-book:before {
	content: "\e63e";
}
.im-notebook:before {
	content: "\e63f";
}
.im-envelope:before {
	content: "\e640";
}
.im-pushpin:before {
	content: "\e641";
}
.im-location:before {
	content: "\e642";
}
.im-location2:before {
	content: "\e643";
}
.im-compass:before {
	content: "\e644";
}
.im-map:before {
	content: "\e645";
}
.im-map2:before {
	content: "\e646";
}
.im-history:before {
	content: "\e647";
}
.im-clock:before {
	content: "\e648";
}
.im-clock2:before {
	content: "\e649";
}
.im-alarm:before {
	content: "\e64a";
}
.im-alarm2:before {
	content: "\e64b";
}
.im-bell:before {
	content: "\e64c";
}
.im-stopwatch:before {
	content: "\e64d";
}
.im-calendar:before {
	content: "\e64e";
}
.im-calendar2:before {
	content: "\e64f";
}
.im-print:before {
	content: "\e650";
}
.im-keyboard:before {
	content: "\e651";
}
.im-screen:before {
	content: "\e652";
}
.im-laptop:before {
	content: "\e653";
}
.im-mobile:before {
	content: "\e654";
}
.im-mobile2:before {
	content: "\e655";
}
.im-tablet:before {
	content: "\e656";
}
.im-tv:before {
	content: "\e657";
}
.im-cabinet:before {
	content: "\e658";
}
.im-drawer:before {
	content: "\e659";
}
.im-drawer2:before {
	content: "\e65a";
}
.im-drawer3:before {
	content: "\e65b";
}
.im-box-add:before {
	content: "\e65c";
}
.im-box-remove:before {
	content: "\e65d";
}
.im-download:before {
	content: "\e65e";
}
.im-upload:before {
	content: "\e65f";
}
.im-disk:before {
	content: "\e660";
}
.im-storage:before {
	content: "\e661";
}
.im-undo:before {
	content: "\e662";
}
.im-redo:before {
	content: "\e663";
}
.im-flip:before {
	content: "\e664";
}
.im-flip2:before {
	content: "\e665";
}
.im-undo2:before {
	content: "\e666";
}
.im-redo2:before {
	content: "\e667";
}
.im-forward:before {
	content: "\e668";
}
.im-reply:before {
	content: "\e669";
}
.im-bubble:before {
	content: "\e66a";
}
.im-bubbles:before {
	content: "\e66b";
}
.im-bubbles2:before {
	content: "\e66c";
}
.im-bubble2:before {
	content: "\e66d";
}
.im-bubbles3:before {
	content: "\e66e";
}
.im-bubbles4:before {
	content: "\e66f";
}
.im-user:before {
	content: "\e670";
}
.im-users:before {
	content: "\e671";
}
.im-user2:before {
	content: "\e672";
}
.im-users2:before {
	content: "\e673";
}
.im-user3:before {
	content: "\e674";
}
.im-user4:before {
	content: "\e675";
}
.im-quotes-left:before {
	content: "\e676";
}
.im-busy:before {
	content: "\e677";
}
.im-spinner:before {
	content: "\e678";
}
.im-spinner2:before {
	content: "\e679";
}
.im-spinner3:before {
	content: "\e67a";
}
.im-spinner4:before {
	content: "\e67b";
}
.im-spinner5:before {
	content: "\e67c";
}
.im-spinner6:before {
	content: "\e67d";
}
.im-binoculars:before {
	content: "\e67e";
}
.im-search:before {
	content: "\e67f";
}
.im-zoom-in:before {
	content: "\e680";
}
.im-zoom-out:before {
	content: "\e681";
}
.im-expand:before {
	content: "\e682";
}
.im-contract:before {
	content: "\e683";
}
.im-expand2:before {
	content: "\e684";
}
.im-contract2:before {
	content: "\e685";
}
.im-key:before {
	content: "\e686";
}
.im-key2:before {
	content: "\e687";
}
.im-lock:before {
	content: "\e688";
}
.im-lock2:before {
	content: "\e689";
}
.im-unlocked:before {
	content: "\e68a";
}
.im-wrench:before {
	content: "\e68b";
}
.im-settings:before {
	content: "\e68c";
}
.im-equalizer:before {
	content: "\e68d";
}
.im-cog:before {
	content: "\e68e";
}
.im-cogs:before {
	content: "\e68f";
}
.im-cog2:before {
	content: "\e690";
}
.im-hammer:before {
	content: "\e691";
}
.im-wand:before {
	content: "\e692";
}
.im-aid:before {
	content: "\e693";
}
.im-bug:before {
	content: "\e694";
}
.im-pie:before {
	content: "\e695";
}
.im-stats:before {
	content: "\e696";
}
.im-bars:before {
	content: "\e697";
}
.im-bars2:before {
	content: "\e698";
}
.im-gift:before {
	content: "\e699";
}
.im-trophy:before {
	content: "\e69a";
}
.im-glass:before {
	content: "\e69b";
}
.im-mug:before {
	content: "\e69c";
}
.im-food:before {
	content: "\e69d";
}
.im-leaf:before {
	content: "\e69e";
}
.im-rocket:before {
	content: "\e69f";
}
.im-meter:before {
	content: "\e6a0";
}
.im-meter2:before {
	content: "\e6a1";
}
.im-dashboard:before {
	content: "\e6a2";
}
.im-hammer2:before {
	content: "\e6a3";
}
.im-fire:before {
	content: "\e6a4";
}
.im-lab:before {
	content: "\e6a5";
}
.im-magnet:before {
	content: "\e6a6";
}
.im-remove:before {
	content: "\e6a7";
}
.im-remove2:before {
	content: "\e6a8";
}
.im-briefcase:before {
	content: "\e6a9";
}
.im-airplane:before {
	content: "\e6aa";
}
.im-truck:before {
	content: "\e6ab";
}
.im-road:before {
	content: "\e6ac";
}
.im-accessibility:before {
	content: "\e6ad";
}
.im-target:before {
	content: "\e6ae";
}
.im-shield:before {
	content: "\e6af";
}
.im-lightning:before {
	content: "\e6b0";
}
.im-switch:before {
	content: "\e6b1";
}
.im-power-cord:before {
	content: "\e6b2";
}
.im-signup:before {
	content: "\e6b3";
}
.im-list:before {
	content: "\e6b4";
}
.im-list2:before {
	content: "\e6b5";
}
.im-numbered-list:before {
	content: "\e6b6";
}
.im-menu:before {
	content: "\e6b7";
}
.im-menu2:before {
	content: "\e6b8";
}
.im-tree:before {
	content: "\e6b9";
}
.im-cloud:before {
	content: "\e6ba";
}
.im-cloud-download:before {
	content: "\e6bb";
}
.im-cloud-upload:before {
	content: "\e6bc";
}
.im-download2:before {
	content: "\e6bd";
}
.im-upload2:before {
	content: "\e6be";
}
.im-download3:before {
	content: "\e6bf";
}
.im-upload3:before {
	content: "\e6c0";
}
.im-globe:before {
	content: "\e6c1";
}
.im-earth:before {
	content: "\e6c2";
}
.im-link:before {
	content: "\e6c3";
}
.im-flag:before {
	content: "\e6c4";
}
.im-attachment:before {
	content: "\e6c5";
}
.im-eye:before {
	content: "\e6c6";
}
.im-eye-blocked:before {
	content: "\e6c7";
}
.im-eye2:before {
	content: "\e6c8";
}
.im-bookmark:before {
	content: "\e6c9";
}
.im-bookmarks:before {
	content: "\e6ca";
}
.im-brightness-medium:before {
	content: "\e6cb";
}
.im-brightness-contrast:before {
	content: "\e6cc";
}
.im-contrast:before {
	content: "\e6cd";
}
.im-star:before {
	content: "\e6ce";
}
.im-star2:before {
	content: "\e6cf";
}
.im-star3:before {
	content: "\e6d0";
}
.im-heart:before {
	content: "\e6d1";
}
.im-heart2:before {
	content: "\e6d2";
}
.im-heart-broken:before {
	content: "\e6d3";
}
.im-thumbs-up:before {
	content: "\e6d4";
}
.im-thumbs-up2:before {
	content: "\e6d5";
}
.im-happy:before {
	content: "\e6d6";
}
.im-happy2:before {
	content: "\e6d7";
}
.im-smiley:before {
	content: "\e6d8";
}
.im-smiley2:before {
	content: "\e6d9";
}
.im-tongue:before {
	content: "\e6da";
}
.im-tongue2:before {
	content: "\e6db";
}
.im-sad:before {
	content: "\e6dc";
}
.im-sad2:before {
	content: "\e6dd";
}
.im-wink:before {
	content: "\e6de";
}
.im-wink2:before {
	content: "\e6df";
}
.im-grin:before {
	content: "\e6e0";
}
.im-grin2:before {
	content: "\e6e1";
}
.im-cool:before {
	content: "\e6e2";
}
.im-cool2:before {
	content: "\e6e3";
}
.im-angry:before {
	content: "\e6e4";
}
.im-angry2:before {
	content: "\e6e5";
}
.im-evil:before {
	content: "\e6e6";
}
.im-evil2:before {
	content: "\e6e7";
}
.im-shocked:before {
	content: "\e6e8";
}
.im-shocked2:before {
	content: "\e6e9";
}
.im-confused:before {
	content: "\e6ea";
}
.im-confused2:before {
	content: "\e6eb";
}
.im-neutral:before {
	content: "\e6ec";
}
.im-neutral2:before {
	content: "\e6ed";
}
.im-wondering:before {
	content: "\e6ee";
}
.im-wondering2:before {
	content: "\e6ef";
}
.im-point-up:before {
	content: "\e6f0";
}
.im-point-right:before {
	content: "\e6f1";
}
.im-point-down:before {
	content: "\e6f2";
}
.im-point-left:before {
	content: "\e6f3";
}
.im-warning:before {
	content: "\e6f4";
}
.im-notification:before {
	content: "\e6f5";
}
.im-question:before {
	content: "\e6f6";
}
.im-info:before {
	content: "\e6f7";
}
.im-info2:before {
	content: "\e6f8";
}
.im-blocked:before {
	content: "\e6f9";
}
.im-cancel-circle:before {
	content: "\e6fa";
}
.im-checkmark-circle:before {
	content: "\e6fb";
}
.im-spam:before {
	content: "\e6fc";
}
.im-close:before {
	content: "\e6fd";
}
.im-checkmark:before {
	content: "\e6fe";
}
.im-checkmark2:before {
	content: "\e6ff";
}
.im-spell-check:before {
	content: "\e700";
}
.im-minus:before {
	content: "\e701";
}
.im-plus:before {
	content: "\e702";
}
.im-enter:before {
	content: "\e703";
}
.im-exit:before {
	content: "\e704";
}
.im-play2:before {
	content: "\e705";
}
.im-pause:before {
	content: "\e706";
}
.im-stop:before {
	content: "\e707";
}
.im-backward:before {
	content: "\e708";
}
.im-forward2:before {
	content: "\e709";
}
.im-play3:before {
	content: "\e70a";
}
.im-pause2:before {
	content: "\e70b";
}
.im-stop2:before {
	content: "\e70c";
}
.im-backward2:before {
	content: "\e70d";
}
.im-forward3:before {
	content: "\e70e";
}
.im-first:before {
	content: "\e70f";
}
.im-last:before {
	content: "\e710";
}
.im-previous:before {
	content: "\e711";
}
.im-next:before {
	content: "\e712";
}
.im-eject:before {
	content: "\e713";
}
.im-volume-high:before {
	content: "\e714";
}
.im-volume-medium:before {
	content: "\e715";
}
.im-volume-low:before {
	content: "\e716";
}
.im-volume-mute:before {
	content: "\e717";
}
.im-volume-mute2:before {
	content: "\e718";
}
.im-volume-increase:before {
	content: "\e719";
}
.im-volume-decrease:before {
	content: "\e71a";
}
.im-loop:before {
	content: "\e71b";
}
.im-loop2:before {
	content: "\e71c";
}
.im-loop3:before {
	content: "\e71d";
}
.im-shuffle:before {
	content: "\e71e";
}
.im-arrow-up-left:before {
	content: "\e71f";
}
.im-arrow-up:before {
	content: "\e720";
}
.im-arrow-up-right:before {
	content: "\e721";
}
.im-arrow-right:before {
	content: "\e722";
}
.im-arrow-down-right:before {
	content: "\e723";
}
.im-arrow-down:before {
	content: "\e724";
}
.im-arrow-down-left:before {
	content: "\e725";
}
.im-arrow-left:before {
	content: "\e726";
}
.im-arrow-up-left2:before {
	content: "\e727";
}
.im-arrow-up2:before {
	content: "\e728";
}
.im-arrow-up-right2:before {
	content: "\e729";
}
.im-arrow-right2:before {
	content: "\e72a";
}
.im-arrow-down-right2:before {
	content: "\e72b";
}
.im-arrow-down2:before {
	content: "\e72c";
}
.im-arrow-down-left2:before {
	content: "\e72d";
}
.im-arrow-left2:before {
	content: "\e72e";
}
.im-arrow-up-left3:before {
	content: "\e72f";
}
.im-arrow-up3:before {
	content: "\e730";
}
.im-arrow-up-right3:before {
	content: "\e731";
}
.im-arrow-right3:before {
	content: "\e732";
}
.im-arrow-down-right3:before {
	content: "\e733";
}
.im-arrow-down3:before {
	content: "\e734";
}
.im-arrow-down-left3:before {
	content: "\e735";
}
.im-arrow-left3:before {
	content: "\e736";
}
.im-tab:before {
	content: "\e737";
}
.im-checkbox-checked:before {
	content: "\e738";
}
.im-checkbox-unchecked:before {
	content: "\e739";
}
.im-checkbox-partial:before {
	content: "\e73a";
}
.im-radio-checked:before {
	content: "\e73b";
}
.im-radio-unchecked:before {
	content: "\e73c";
}
.im-crop:before {
	content: "\e73d";
}
.im-scissors:before {
	content: "\e73e";
}
.im-filter:before {
	content: "\e73f";
}
.im-filter2:before {
	content: "\e740";
}
.im-font:before {
	content: "\e741";
}
.im-text-height:before {
	content: "\e742";
}
.im-text-width:before {
	content: "\e743";
}
.im-bold:before {
	content: "\e744";
}
.im-underline:before {
	content: "\e745";
}
.im-italic:before {
	content: "\e746";
}
.im-strikethrough:before {
	content: "\e747";
}
.im-omega:before {
	content: "\e748";
}
.im-sigma:before {
	content: "\e749";
}
.im-table:before {
	content: "\e74a";
}
.im-table2:before {
	content: "\e74b";
}
.im-insert-template:before {
	content: "\e74c";
}
.im-pilcrow:before {
	content: "\e74d";
}
.im-left-toright:before {
	content: "\e74e";
}
.im-right-toleft:before {
	content: "\e74f";
}
.im-paragraph-left:before {
	content: "\e750";
}
.im-paragraph-center:before {
	content: "\e751";
}
.im-paragraph-right:before {
	content: "\e752";
}
.im-paragraph-justify:before {
	content: "\e753";
}
.im-paragraph-left2:before {
	content: "\e754";
}
.im-paragraph-center2:before {
	content: "\e755";
}
.im-paragraph-right2:before {
	content: "\e756";
}
.im-paragraph-justify2:before {
	content: "\e757";
}
.im-indent-increase:before {
	content: "\e758";
}
.im-indent-decrease:before {
	content: "\e759";
}
.im-new-tab:before {
	content: "\e75a";
}
.im-embed:before {
	content: "\e75b";
}
.im-code:before {
	content: "\e75c";
}
.im-console:before {
	content: "\e75d";
}
.im-share:before {
	content: "\e75e";
}
.im-mail:before {
	content: "\e75f";
}
.im-mail2:before {
	content: "\e760";
}
.im-mail3:before {
	content: "\e761";
}
.im-mail4:before {
	content: "\e762";
}
.im-google:before {
	content: "\e763";
}
.im-google-plus:before {
	content: "\e764";
}
.im-google-plus2:before {
	content: "\e765";
}
.im-google-plus3:before {
	content: "\e766";
}
.im-google-plus4:before {
	content: "\e767";
}
.im-google-drive:before {
	content: "\e768";
}
.im-facebook:before {
	content: "\e769";
}
.im-facebook2:before {
	content: "\e76a";
}
.im-facebook3:before {
	content: "\e76b";
}
.im-instagram:before {
	content: "\e76c";
}
.im-twitter:before {
	content: "\e76d";
}
.im-twitter2:before {
	content: "\e76e";
}
.im-twitter3:before {
	content: "\e76f";
}
.im-feed2:before {
	content: "\e770";
}
.im-feed3:before {
	content: "\e771";
}
.im-feed4:before {
	content: "\e772";
}
.im-youtube:before {
	content: "\e773";
}
.im-youtube2:before {
	content: "\e774";
}
.im-vimeo:before {
	content: "\e775";
}
.im-vimeo2:before {
	content: "\e776";
}
.im-vimeo3:before {
	content: "\e777";
}
.im-lanyrd:before {
	content: "\e778";
}
.im-flickr:before {
	content: "\e779";
}
.im-flickr2:before {
	content: "\e77a";
}
.im-flickr3:before {
	content: "\e77b";
}
.im-flickr4:before {
	content: "\e77c";
}
.im-picassa:before {
	content: "\e77d";
}
.im-picassa2:before {
	content: "\e77e";
}
.im-dribbble:before {
	content: "\e77f";
}
.im-dribbble2:before {
	content: "\e780";
}
.im-dribbble3:before {
	content: "\e781";
}
.im-forrst:before {
	content: "\e782";
}
.im-forrst2:before {
	content: "\e783";
}
.im-deviantart:before {
	content: "\e784";
}
.im-deviantart2:before {
	content: "\e785";
}
.im-steam:before {
	content: "\e786";
}
.im-steam2:before {
	content: "\e787";
}
.im-github:before {
	content: "\e788";
}
.im-github2:before {
	content: "\e789";
}
.im-github3:before {
	content: "\e78a";
}
.im-github4:before {
	content: "\e78b";
}
.im-github5:before {
	content: "\e78c";
}
.im-wordpress:before {
	content: "\e78d";
}
.im-wordpress2:before {
	content: "\e78e";
}
.im-joomla:before {
	content: "\e78f";
}
.im-blogger:before {
	content: "\e790";
}
.im-blogger2:before {
	content: "\e791";
}
.im-tumblr:before {
	content: "\e792";
}
.im-tumblr2:before {
	content: "\e793";
}
.im-yahoo:before {
	content: "\e794";
}
.im-tux:before {
	content: "\e795";
}
.im-apple:before {
	content: "\e796";
}
.im-finder:before {
	content: "\e797";
}
.im-android:before {
	content: "\e798";
}
.im-windows:before {
	content: "\e799";
}
.im-windows8:before {
	content: "\e79a";
}
.im-soundcloud:before {
	content: "\e79b";
}
.im-soundcloud2:before {
	content: "\e79c";
}
.im-skype:before {
	content: "\e79d";
}
.im-reddit:before {
	content: "\e79e";
}
.im-linkedin:before {
	content: "\e79f";
}
.im-lastfm:before {
	content: "\e7a0";
}
.im-lastfm2:before {
	content: "\e7a1";
}
.im-delicious:before {
	content: "\e7a2";
}
.im-stumbleupon:before {
	content: "\e7a3";
}
.im-stumbleupon2:before {
	content: "\e7a4";
}
.im-stackoverflow:before {
	content: "\e7a5";
}
.im-pinterest:before {
	content: "\e7a6";
}
.im-pinterest2:before {
	content: "\e7a7";
}
.im-xing:before {
	content: "\e7a8";
}
.im-xing2:before {
	content: "\e7a9";
}
.im-flattr:before {
	content: "\e7aa";
}
.im-foursquare:before {
	content: "\e7ab";
}
.im-foursquare2:before {
	content: "\e7ac";
}
.im-paypal:before {
	content: "\e7ad";
}
.im-paypal2:before {
	content: "\e7ae";
}
.im-paypal3:before {
	content: "\e7af";
}
.im-yelp:before {
	content: "\e7b0";
}
.im-libreoffice:before {
	content: "\e7b1";
}
.im-file-pdf:before {
	content: "\e7b2";
}
.im-file-openoffice:before {
	content: "\e7b3";
}
.im-file-word:before {
	content: "\e7b4";
}
.im-file-excel:before {
	content: "\e7b5";
}
.im-file-zip:before {
	content: "\e7b6";
}
.im-file-powerpoint:before {
	content: "\e7b7";
}
.im-file-xml:before {
	content: "\e7b8";
}
.im-file-css:before {
	content: "\e7b9";
}
.im-html5:before {
	content: "\e7ba";
}
.im-html52:before {
	content: "\e7bb";
}
.im-css3:before {
	content: "\e7bc";
}
.im-chrome:before {
	content: "\e7bd";
}
.im-firefox:before {
	content: "\e7be";
}
.im-IE:before {
	content: "\e7bf";
}
.im-IcoMoon:before {
	content: "\e7c0";
}
.im-safari:before {
	content: "\e7c1";
}
.im-opera:before {
	content: "\e7c2";
}
