@media screen and (max-width: 1200px) {
  .description-tab {
    .nav-tabs {
      margin-right: 20px;
    }
    .tab-content {
      width: calc(100% - 140px);
    }
  }
}

@media screen and (max-width: 991px) {
  .display-flex {
    display: block;
    float: left;
    width: 100%;
  }
  .navbar-nav > li > a {
    padding: 20px 12px;
  }
  .navbar-default .navbar-nav > li > a {
    font-size: 1.4rem;
  }
  .nav-download a {
    margin-left: 12px;
  }
  .cta-section {
    text-align: center;
  }
  .cta-heading {
    margin-bottom: 30px;
  }
  .trial-form {
    text-align: center;
    .btn {
      float: none;
    }
  }
  .intro {
    padding-left: 15px;
    padding-right: 15px;
  }
  .feature + .feature {
    margin-top: 60px;
  }
  .mock-group-2 {
    max-width: 490px;
    margin: 0 auto;
  }
  .more-features {
    margin-top: 60px;
  }
  .float-left {
    float: left;
    width: 100%;
  }
  .mock-group-3 {
    float: none;
    margin: 60px auto 0 auto;
  }
  .price-plan {
    font-size: 2.4rem;
    padding: 20px 12px;
  }
  .plan-price {
    font-size: 2rem;
    padding: 15px 12px;
  }
  .price-cycle {
    font-size: 1.6rem;
  }
  .plan-feature {
    margin: 0;
  }
  .download-area .button-group .btn {
    padding: 10px 24px;
    + .btn {
      margin-left: 24px;
    }
  }
  .ask-question {
    margin-top: 60px;
  }
  .post-title {
    margin-top: 25px;
  }
  .child-comments {
    padding-left: 60px;
  }
}

@media screen and (max-width: 767px) {
  h1, .flex_text li {
    font-size: 2.4rem;
  }
  .section-padding, .section-padding-extra {
    padding: 60px 0;
  }
  .section-heading {
    margin-bottom: 40px;
  }
  .section-title {
    font-size: 3rem;
  }
  .navbar-default .navbar-toggle {
    border-color: #1193d4;
    margin-top: 13px;
    margin-bottom: 13px;
    .icon-bar, &:focus, &:hover {
      background-color: #1193d4;
    }
    &:focus .icon-bar, &:hover .icon-bar {
      background-color: #ffffff;
    }
  }
  .navbar-toggle {
    width: auto !important;
  }
  .navbar-default {
    .navbar-collapse, .navbar-form {
      position: absolute;
      left: 15px;
      right: 15px;
      background-color: #ffffff;
    }
  }
  .navbar-nav > li > a {
    padding: 12px;
  }
  .nav-download a {
    margin-left: 12px;
    width: calc(100% - 24px);
  }
  .top-header h1, .flex_text, .top-header p, .device-download, .button-group {
    margin-top: 25px;
  }
  .banner-v2 .button-group .btn + .btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
  }
  .button-group .btn + .btn {
    margin-left: 0;
    margin-top: 20px;
    clear: left;
  }
  input, button {
    margin-left: 0;
    margin-right: 0;
    display: block;
    width: 100% !important;
  }
  input + {
    input, button {
      margin-top: 20px;
    }
  }
  .trial-form input {
    max-width: none;
  }
  .intros {
    margin-bottom: -70px;
  }
  .intro {
    margin-bottom: 70px;
  }
  .feature + .feature, .features .col-md-4 + .col-sm-6 {
    margin-top: 40px;
  }
  .mock-group-2 {
    max-width: 290px;
    margin: 0 auto;
    .back-mock {
      height: 380px;
      max-width: none;
      width: auto;
    }
    .front-mock {
      height: 390px;
      right: 0;
    }
  }
  .description-tab {
    .nav-tabs {
      display: block;
      width: 100%;
      margin: 0 -5px 60px -5px;
      > li {
        margin: 0 5px;
        > a {
          width: 60px;
          height: 60px;
          line-height: 57px;
          &:after {
            border-width: 25px 15px 25px 15px;
            border-color: #1193d4 transparent transparent transparent;
            right: auto;
            left: 50%;
            top: 100%;
            transform: translate(-50%, -25%);
          }
        }
        &.active > a {
          &:after, &:focus:after, &:hover:after {
            transform: translate(-50%, 0);
          }
        }
      }
    }
    .tab-content {
      width: 100%;
    }
  }
  .mock-group-3 {
    max-width: 290px;
    .back-mock {
      height: 403px;
    }
  }
  .download-area .button-group .btn {
    width: 100%;
    + .btn {
      margin-left: 0;
    }
  }
  .team-members {
    margin-bottom: -100px;
  }
  .team-member {
    margin-bottom: 100px;
  }
  .cta-2 .cta-heading {
    margin-right: 0;
  }
  .subscribe-form input[type="email"] {
    max-width: none;
    border-radius: 4px;
  }
  footer {
    padding-top: 60px;
    padding-bottom: 30px;
    .socials {
      margin-top: 40px;
    }
    .social {
      font-size: 2rem;
      height: 40px;
      width: 40px;
      line-height: 40px;
      + .social {
        margin-left: 8px;
      }
    }
  }
  .copyright {
    margin-top: 40px;
  }
  .searchform button[type=submit] {
    margin-top: 0;
    width: auto !important;
  }
  .comment-body {
    width: 100%;
    margin-top: 20px;
  }
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {

  .timeline {
    width: 100%;
    padding: 4em 0 1em 0;
  }

  .timeline li {
    padding: 2em 0;
  }

  .direction-l,
  .direction-r {
    float: none;
    width: 100%;

    text-align: center;
  }

  .flag-wrapper {
    text-align: center;
  }

  .flag {
    background: rgb(255,255,255);
    z-index: 15;
  }

  .direction-l .flag:before,
  .direction-r .flag:before {
    position: absolute;
    top: -30px;
    left: 50%;
    content: ' ';
    display: block;
    width: 20px;
    height: 20px;
    margin-left: -9px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid #1193d4;
    z-index: 10;
  }

  .direction-l .flag:after,
  .direction-r .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -8px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: rgb(255,255,255);
    border-width: 8px;
    pointer-events: none;
  }

  .time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14;
  }

  .direction-l .time-wrapper {
    float: none;
  }

  .direction-r .time-wrapper {
    float: none;
  }

  .desc {
    position: relative;
    margin: 1em 0 0 0;
    padding: 1em;
    background: rgb(245,245,245);
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
    -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
    box-shadow: 0 0 1px rgba(0,0,0,0.20);

    z-index: 15;
  }

  .direction-l .desc,
  .direction-r .desc {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 1em;

    z-index: 15;
  }

}

@media screen and (max-width: 660px) {

  .direction-l .desc,
  .direction-r .desc {
    margin: 1em 4em 0 4em;
  }

}

@media (max-width: 640px) {
  .viewport {
    -webkit-transform: scale(0.6, 0.6);
    -moz-transform: scale(0.6, 0.6);
    -ms-transform: scale(0.6, 0.6);
    -o-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
  }
}
