.slide .thumb {
  min-height: 186px;
}

.slide-container{
	text-align: center;
}

.slide-container img{
	max-width: 100%;
}

.slide-container h4{
	display: block;
	background: #fff;
	border: 1px solid #ccc;
	text-align: center;
	min-height: 190px;
	padding: 50px 5px 20px;
}

#calendario {
	margin-top: 80px;
	margin-bottom: 50px;
}

.upcoming{
	background: #22B14C;
	text-align: center;
	color: #fff;
	padding: 5px;
}

.row {
	text-align: center;
}
.team-member {
	float: none;
	display: inline-block;
	width: 300px;
	min-height: 400px;
	vertical-align: top;
	margin-bottom: 10px;
}
