/* =================================  */
/* =========== MENU STYLES ===========  */
/* =================================  */
.top-menu {
font-family:'Open Sans', sans-serif;
position:fixed;
background-color:#272d35;
width:100%;
height:60px;
top:0;
z-index:300;
}

a .logo {
position:fixed;
color:#FFF;
background-color:#119bd2;
padding:14px 24px 16px 22px;
font-size:18px;
font-weight:800;
margin-right:0;
left:0;
z-index:301;
}

#navigation-button {
display:none;
}

ul.drop-down {
position:fixed;
right:0;
list-style:none;
margin:0;
padding:0;
z-index:300;
background-color:#272d35;
}

.drop-down li {
float:left;
position:relative;
}

.drop-down li a,.drop-down li a:focus,.drop-down li:focus a {
display:inline-block;
padding:18px 20px 15px;
color:#FFF;
text-transform:uppercase;
font-weight:700;
font-size:14px;
transition:all .25s;
vertical-align:middle;
background-color:#272d35;
border-bottom:4px solid #272d35;
}

.drop-down li:hover a,.drop-down li.active a {
background-color:#2f3640;
color:#119bd2;
border-bottom:4px solid #119bd2;
}

.sub-menu {
position:absolute;
left:0;
margin:0;
padding:0;
display:none;
list-style:none;
white-space:nowrap;
}

.drop-down li:hover .sub-menu {
display:block;
}

.drop-down .sub-menu li {
display:block;
width:100%;
}

.drop-down .sub-menu li a {
background-color:#2f3640;
padding:8px 20px;
font-size:11px;
color:#FFF;
border:0;
width:100%;
text-align:left;
}

.sub-menu li:hover a {
background-color:#2f3640;
color:#119bd2;
}

@media (max-width: 1000px) {
#navigation-button {
position:fixed;
top:0;
right:0;
z-index:3;
display:block;
font-size:18px;
list-style:none;
color:#FFF;
padding:15px 20px;
background-color:#272d35;
width:100%;
text-align:right;
cursor:pointer;
-webkit-transition:all .25s;
-moz-transition:all .25s;
-o-transition:all .25s;
transition:all .25s;
}


#navigation-button:hover {
color:#119bd2;
}

.drop-down {
text-align:left;
position:relative;
top:-100%;
z-index:2;
overflow-y:auto;
max-height:75%;
width:100%;
-webkit-transition:all .5s;
-moz-transition:all .5s;
-o-transition:all .5s;
transition:all .5s;
}

.drop-down.active {
top:60px;
}

.drop-down li {
display:block;
clear:both;
width:100%;
}

.drop-down li a {
display:block;
width:100%;
}

.sub-menu {
position:relative;
}
}