<div class="footer fullwidth-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="color-white weight-300 kill-top-margin" style="margin-bottom: 40px; font-size: 50px">
          S&oacute;mos <strong class="color-primary">Medell&iacute;nJS</strong>
        </h1>
        <h4 class="color-white">Hacemos parte de una gran familia, la Comunidad <span class="color-secondary">JavaScript</span> Colombiana</h4>
      </div>
    </div>
    <div class="row" style="margin-bottom: 10px">
      <div class="col-md-5"></div>
      <div class="col-md-2">
        <img class="img-responsive img-rounded" src="https://i.imgur.com/azFflhQ.jpg" width="180" />
      </div>
      <div class="col-md-5"></div>
    </div>
    <div class="row">
     <div>
       <div class="col-md-1">
         <span style="font-size: 100px">{</span>
       </div>
       <div class="col-md-2">
        <a href="http://www.bogotajs.com">
          <img class="img-rounded img-responsive" src="http://imgur.com/0VE7Df0.png" width="180" />
          <p class="text-center"><strong>Bogot&aacute;JS</strong></p>
        </a>
       </div>
       <div class="col-md-2">
        <a href="http://www.meetup.com/CaliJS/">
          <img class="img-rounded img-responsive" src="https://i.imgur.com/sBZF10C.png" width="180" />
          <p class="text-center"><strong>CaliJS</strong></p>
        </a>
       </div>
       <div class="col-md-2">
        <a href="http://www.meetup.com/VillavicencioJS/">
          <img class="img-rounded img-responsive" src="https://i.imgur.com/6RKQMj1.png" width="180" />
          <p class="text-center"><strong>VillavicencioJS</strong></p>
        </a>
       </div>
              <div class="col-md-2">
        <a href="https://twitter.com/QuibdoJs">
          <img class="img-rounded img-responsive" src="http://i.imgur.com/MQwQ9Kt.png" width="180" />
          <p class="text-center"><strong>Quibd&oacute;JS</strong></p>
        </a>
       </div>
        <div class="col-md-2">
         <a href="http://www.pereirajs.org">
          <img class="img-rounded img-responsive" src="https://i.imgur.com/K74Qa1f.png" width="180" />
          <p class="text-center"><strong>PereiraJS</strong></p>
        </a>
       </div>
       <div class="col-md-1">
         <span style="font-size: 100px">}</span>
       </div>
     </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-4">
         <a href="http://www.meetup.com/PopayanJS/">
           <img class="img-rounded img-responsive" src="http://i.imgur.com/CSM3nCr.png" width="180" />
           <p class="text-center"><strong>PopayánJS</strong></p>
         </a>
        </div>
        <div class="col-md-2">
         <a href="http://www.meetup.com/monteriajs/">
           <img class="img-rounded img-responsive" src="http://i.imgur.com/e35RPp3.png" width="180" />
           <p class="text-center"><strong>MonteríaJS</strong></p>
         </a>
        </div>
    </div>
  </div>
</div>
<div class="footer-bottom">
  <div class="row">
    <div class="col-md-6">
      <span class="pull-left" style="font-size: 11px">
        &copy; Copyright 2012-2014 | Medell&iacute;n, Colombia, Sur Am&eacute;rica
      </span>
    </div>
    <div class="col-md-6">
      <span class="pull-right" style="font-size: 11px">
        We are a Passion Driven Community!
      </span>
    </div>
  </div>
</div>
