<div class="footer fullwidth-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="color-white weight-300 kill-top-margin" style="margin-bottom: 40px; font-size: 50px">
          S&oacute;mos <strong>Medell&iacute;nJS</strong>
        </h1>
      </div>
    </div>
    <div class="row">
    </div>
  </div>
</div>
<div class="footer-bottom">
  <div class="row">
    <div class="col-md-6">
      <span class="pull-left" style="font-size: 11px">
        &copy; Copyright 2012-2014 | Medell&iacute;n, Colombia, Sur Am&eacute;rica
      </span>
    </div>
    <div class="col-md-6">
      <span class="pull-right" style="font-size: 11px">
        We are Passion Driven Community!
      </span>
    </div>
  </div>
</div>
