<div class="top-menu">
  <a href="/">
    <div class="logo">
      MED.JS
    </div>
  </a>
  <div id="navigation-button">
    <i class="fa fa-bars fa-fw"></i>
  </div>
  <ul class="nav drop-down">
    <li><a href="/#eventos">Eventos</a></li>
    <li><a href="/posts">Art&iacute;culos</a></li>
    <li><a href="/charla">Comparte</a></li>
    <li><a href="/acerca">Acerca</a></li>
  </ul>
</div>
