<div class="top-menu">
  <a href="<%= url %>">
    <div class="logo">
      MED.JS
    </div>
  </a>
  <div id="navigation-button">
    <i class="fa fa-bars fa-fw"></i>
  </div>
  <ul class="nav drop-down">
    <li><a href="<%= url %>/#eventos">Eventos</a></li>
    <li><a href="<%= url %>/#articulos">Art&iacute;culos</a></li>
    <li><a href="<%= url %>/acerca">Acerca</a></li>
  </ul>
</div>
